.experiencia {
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 100px;
    padding: 40px 20px;
    margin: auto;
}

.experiencia .subtitulo {
    color: #e0e0e0;
}

.experiencia-texto {
    max-width: 40ch;
    font-size: 1.5rem;
    line-height: 1.33;
    margin-bottom: 60px;
    color: #525252;
}

.experiencia-texto strong {
    color: #141414;
}

.empresa {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #f5f5f5;
    margin-bottom: 20px;
    padding: 20px;
    gap: 10px 20px;
    border-radius: 8px;
    position: relative;
}

.empresa::before {
    content: '';
    display: block;
    width: 4px;
    height: 20px;
    background: linear-gradient(#B11313, #EC1D24);
    position: absolute;
    top: 20px;
    left: -4px;
}

.empresa-ano {
    width: 80px;
    position: absolute;
    top: 22px;
    left: -100px;
    color: #525252;
    font-size: .875rem;
    text-align: right;
}

.link-projeto {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: #fff;
    color: #141414;
    font-size: .875rem;
    padding: 4px 8px;
    border-radius: 4px;
    text-decoration: none;
}

.empresa-nome {
    font-size: 1.125rem;
    line-height: 1.1;
    font-weight: bold;
}

.empresa-texto {
    font-size: .875rem;
    line-height: 1.4;
    color: #525252;
}

.empresa-habilidade {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-content: flex-start;
}

.empresa-habilidade li {
    background: #fff;
    font-size: .875rem;
    line-height: 1.4;
    border-radius: 4px;
    padding: 5px 10px;
}

@media (max-width: 800px) {
    .experiencia {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .experiencia .subtitulo {
        color: #141414;
    }

    .experiencia-texto {
        font-size: 1.25rem;
    }

    .empresa-ano {
        width: initial;
        position: initial;
        order: 1;
        text-align: left;
    }

    .link-projeto {
        max-width: 50px;
        position: initial;
        order: 3;
        margin-top: 22px;
    }
}

@media (max-width: 800px) {
    .empresa {
        grid-template-columns: 1fr;
    }
}