* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', Arial, sans-serif;
    color: var(--text-primary);
}

:root {
    --text-primary: #141414;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;    
}