* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', Arial, sans-serif;
    color: var(--text-primary);
}

.header h1 {
    display: block;
    max-width: 100%;
    height: auto;
    font-size: 2.3rem;
}

ul {
    list-style: none;    
}

.subtitulo {
    max-width: 4ch ;
    font-size: 8rem;
    word-break: break-all;
    line-height: 1;
    text-transform: uppercase;
}

@media (max-width: 800px) {
    .subtitulo {
        max-width: initial !important;
        font-size: 3rem;
        text-transform: capitalize;
    }
}