.header {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    margin: auto;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.header-menu a {
    color: #141414;
    font-size: 1.235rem;
    line-height: 1.3;
    padding: 10px 20px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        gap: 30px;
        padding: 20px;
    }

    .header a {
        display: block;
        background: #f5f5f5;
        border-radius: 4px;
    }
}